.user_container {
    width: 100%;
    border: .25em solid black;    
    padding: .5em;    
}

#page_header {
    margin-top: .25em;
    margin-bottom: .25em;
}

#left_column {
    display: inline-block;
    width: 30%;
    margin-left: 0em;
    margin-right: 5%;
    vertical-align: top;
}

#right_column {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

#user_avatar {
    height: 5em;
    width: auto;
    display: block;  
    margin-left: auto;
    margin-right: auto;  
}

#avatar_container {
    width: 100%;
    border: .25em solid black;    
    padding: .5em; 
    text-align: center;
}