.row {
    display: flex; 
    height: 100px;
    line-height: 100px;
    justify-content: space-evenly;  
    margin-top: 1em;  
    margin-bottom: 1em;    
}

.col {
    flex: 1;
    background-color: cadetblue;    
    color: white;    
    margin-right: 1em;
    margin-left: 1em;  
    text-indent: 1em;
}

.col-2 {
    flex: 2;
    background-color: cadetblue;    
    color: white;    
    margin-right: 1em;
    margin-left: 1em;  
    text-indent: 1em;
}

.col-3 {
    flex: 3;
    background-color: cadetblue;    
    color: white;    
    margin-right: 1em;
    margin-left: 1em;  
    text-indent: 1em;
}